@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');


body{
    background-color: rgb(39, 37, 119);
    font-family: 'Poppins', sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.user-form{
    width: 100%;
    max-width: 700px;
}

.user-form input{
    width: 100%;
    display: block;
    background-color: rgb(67, 29, 110);
    border: none;
    border-radius: 10px;
    color: white;
    padding: 1rem;
    margin-bottom: 2rem;
    font-family: inherit;
    font-size: 1rem;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.301),0 15px 40px rgba(0, 0, 0, 0.101);
}
.user-form input::placeholder{
    color: rgb(163, 199, 199);
}
.user-form input:focus{
    outline: none;
}

.card{
    max-width: 800px;
    background-color: rgb(66, 29, 109);
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.301),0 15px 40px rgba(0, 0, 0, 0.101);
    display: flex;
    padding: 3rem;
    margin: 0 1.5rem;
}

.avatar{
    border-radius: 50%;
    border: 10px solid rgb(39, 37, 119);
    height: 150px;
    width: 150px;
}

.user-info{
    color: #eee;
    margin-left: 2rem;
}

.user-info h2{
    margin-top: 0;
}

.user-info ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    max-width: 400px;
}

.user-info ul li{
    display: flex;
    align-items: center;
}

.user-info ul li strong{
    font-size: 0.9rem;
    margin-left: 0.5rem;
}

.repo{
    text-decoration: none;
    color: white;
    background-color: rgb(39, 37, 119);
    font-size: 0.7rem;
    padding: 0.25rem 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    display: inline-block;
    border-radius: 5px;
}

@media (max-width: 500px) {
    .card{
        flex-direction: column;
        align-items: center;
    }

    .user-form{
        max-width: 400px;
    }
}